{% block page_account_order_item_overview %}
    <div class="order-wrapper">
        <div class="order-item-header">
            <div class="row">
                {% block page_account_order_item_heading %}
                    <h5 class="col-12 order-table-header-heading" style="word-wrap: break-word;">{{ ticket.subject }}</h5>

                    {% if ticket.status == 0 %}
                        <h4 class="col-12 order-table-header-heading pl-5" style="color: red">CLOSED</h4>
                    {% else %}
                        <h4 class="col-12 order-table-header-heading pl-5" style="color: green">OPEN</h4>
                    {% endif %}
                    <small class="col-8 order-table-header-heading">{{ ticket.createdAt|format_datetime('short', 'short') }}</small>

                {% endblock %}

                {% block page_account_ticket_item_ticket_table_body_cell_toggle_ticket_details_button %}
                    <a href="{{ path('frontend.account.ticket.detail.page', {id: ticket.id}) }}"
                       title="Create new ticket"
                       class="btn btn-lg btn-dark">
                        View
                    </a>
                {% endblock %}
                {% block page_account_ticket_item_ticket_table_body_cell_toggle_ticket_close_button %}
                    {% if ticket.status is not same as(0) %}
                        <div class="pl-3">
                            <a href="{{ path('frontend.account.ticket.close', {id: ticket.id}) }}"
                               title="Close"
                               class="btn btn-lg btn-outline-danger">
                                Close
                            </a>
                        </div>
                    {% endif %}
                {% endblock %}

            </div>
        </div>
    </div>
{% endblock %}