{% block page_account_ticket_reply %}

{% if reply.adminId is null %}
<div class="row pt-3">
    <div class="col-10 border border-dark">
        <div class="order-item-header">
            <h3>{{ page.ticket.customer }}</h3>
        </div>
        <div class="p-2 pl-5">
            {{ reply.content }}
        </div>
        <div class="order-item-detail-footer">
            <small>{{ reply.createdAt|format_datetime('short', 'short') }}</small>
        </div>
    </div>
</div>
{% else %}
<div class="row pt-3">
    <div class="col-2"></div>
    <div class="col-10 border border-success">
        <div class="order-item-header">
            <h3>POSTER NAME</h3>
        </div>
        <div class="p-2 pl-5">
            {{ page.ticket.content }}
        </div>
        <div class="order-item-detail-footer">
            <small>18/01/2021, 08:51</small>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}