{% sw_extends '@Storefront/storefront/page/account/_page.html.twig' %}

{% block page_account_main_content %}
    {% block ticket_detail_page %}
        {% sw_include '@InchooDev/storefront/page/account/ticket/ticket-item.html.twig' %}
        {% block ticket_replies_container %}
        <div class="row pb-5">
            <div class="col-12">
                <hr>
                {% if page.ticket.replies is not empty %}
                <h3 class="pt-3">Replies: </h3>
                {% endif %}
                {% for reply in page.ticket.replies|sort((a, b) => a.createdAt <=> b.createdAt) %}
                    {% sw_include '@InchooDev/storefront/page/account/ticket/_ticket-reply.html.twig' %}
                {% endfor %}
            </div>
        </div>
        {% endblock %}

        {% if page.ticket.status is not same as(0) %}
            {% sw_include '@InchooDev/storefront/page/account/ticket/_ticket-reply-form.html.twig' %}
        {% endif %}

    {% endblock %}
{% endblock %}