{% block page_account_order_item_overview %}
    <div class="order-wrapper border">
        <div class="order-item-header">
            <div class="row">
                {% block page_account_order_item_heading %}
                    <h4 class="col-12 order-table-header-heading pr-3" style="word-wrap: break-word;">{{ page.ticket.subject }}</h4>

                    {% if page.ticket.status == 0 %}
                        <h4 class="col-12 order-table-header-heading pl-5" style="color: red">CLOSED</h4>
                    {% else %}
                        <h4 class="col-12 order-table-header-heading pl-5" style="color: green">OPEN</h4>
                    {% endif %}
                    <h6 class="col-2 order-table-header-heading">{{ page.ticket.createdAt|format_datetime('short', 'short') }}</h6>
                {% endblock %}
            </div>
        </div>

        <div class="order-item-detail-summary p-5">
            {{ page.ticket.content }}
        </div>

        <div class="order-item-detail-footer">
            <small class="col-4 order-table-header-heading">Replies: {{ page.ticket.replies.elements|length }}</small>
        </div>

    </div>
{% endblock %}