{% sw_extends '@InchooDev/storefront/page/account/sidebar.html.twig' %}

{% block page_account_sidebar_menu_inner %}
    {{ parent() }}

    <a href="{{ path('frontend.account.tickets.page') }}"
       title="{# Snippet here: account.ticketLink #}Tickets"
       class="list-group-item list-group-item-action account-aside-item{% if activeRoute is same as('frontend.account.tickets.page') %} is-active{% endif %}">
        {# Snippet here: "account.ticketLink|trans|sw_sanitize" #}
        Tickets
    </a>

{% endblock %}